/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
h1,h2,h3,h4{
    font-weight: 600;
}

*,*::before,*::after{
    box-sizing: border-box;
    text-decoration: none;
}

/* 共用元件 start */
:root{
    --black: black;
    --white: #fff;
    --gray:#fafafa;
    --milk-white: #efe9e7;
    --brown:#3d1101;
    --orange:#F56C23 ;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.btn{
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none; 
    font-size: 100%;
    padding: 0.5em 1.5em;
    color: rgba(0,0,0,0.8);
    background-color: #e6e6e6;
    border: none;
    border-radius: 2px;
}
.btn-primary{
    background-color: var(--orange);
    color: var(--white);
    transition: all .3s;
}
.btn-primary:hover{
    background-color: rgb(177, 94, 26);
}
.btn-secondary{
    background-color: #ccc;
    color: var(--white);
    transition: all .3s;
}
.btn-secondary:hover{
    background-color: #aaa;
}
.btn-lg{
    font-size: 120%;
}
.btn-sm{
    font-size: 80%;
}
.pd-42{
    padding: 50px 42px;
}
/* 共用元件 end */

/***********index.html  ***************/

/* header start*/
.header{
    background-color:rgba(0,0,0,.6);
    color: var(--white);
    position: absolute;
    width: 100%;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 42px;
    position: relative;
}
.header h2 a{
    font-size: 24px;
}
.header .menu{
    display: flex;
}
.header a{
    display: block;
    font-size: 18px;
    color: var(--white);
    padding: 20px 15px;
    margin-left: 5px;
    transition: all .3s;
}
.header .menu a:hover{
    color: red;
}
.header .menu-toggle{
    font-size: 24px;
    cursor: pointer;
    display: none;
}
@media(max-width:767px){
    .header .container{
        padding: 0 20px 0 0;
    }
    .header .menu-toggle{
     display: block;
    }
    .header .menu{
        display: block;
        max-height: 0;
        overflow: hidden;  
        z-index: 100;
        margin-top: 1px;
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        background-color: var(--brown);
        transition: max-height .3s linear;
    }
    .menu-show .menu{
        max-height: 500px;
    }
    .header .menu li {
        border-bottom: 1px dashed var(--milk-white) ;
    }
}
/* header end */

/* jumbotron start */
.jumbotron{
    height: 420px;
    background-image: url('../images/header_desktop.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbotron .txt{
    padding: 20px 40px 20px 20px;
    text-align: center;
    background-color: rgba(0,0,0,.3);
}
.jumbotron .txt h1{
    color: var(--white);
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 16px;
}
.jumbotron .txt p{
    color: var(--white);
    line-height: 1.5;
}
@media(max-width:569px){
    .jumbotron{
        background-image: url('../images/header_mobile.png');
    }
    .jumbotron .txt h1{
        font-size: 22px;
        font-weight: 700;
    }
}
/* jumbotron end */

/* intro start */
.intro{
    background-color: var(--milk-white);
    color: var(--brown);
    text-align: center;
}
.intro .intro-title h4{
    font-size: 20px;
    line-height: 1.5;
    position: relative;
    margin-bottom: 30px;
}
.intro .intro-title h4::before,
.intro .intro-title h4::after{
    content: '';
    width: 15%;
    height: 1px;
    background-color: var(--brown);
    position: absolute;
}
.intro .intro-title h4::before{
    left: 20%;
    top:50%;
}
.intro .intro-title h4::after{
    right:20%;
    top: 50%;
}
.intro .intro-cards{
    display: flex;
    justify-content: space-around;
}
.intro .intro-card{
    width: 25%;
}
.intro .intro-card img{
   border-radius: 50%;
   margin-bottom: 15px;
}
.intro .intro-card h4{
    margin-bottom: 15px;
}
.intro .intro-card p{
    text-align: left;
}
@media(max-width:569px){
    .intro .intro-cards{
        display: block;
    }
    .intro .intro-card{
        width: 98%;
        margin-bottom: 30px;
    }
}
/* intro end */

/* chief start */
.chief{
    background-color: var(--brown);
}
.chief .container{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    color: var(--milk-white);
}
.chief .container img{
    width: 50%;
    margin-right: 3%;
}
.chief .chief-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.chief .chief-txt h4{
    font-size: 20px;
    line-height: 1.5;
}
.chief .chief-txt h5{
    line-height: 1.5;
    margin-bottom: 15px;
}
.chief .chief-txt p{
    line-height: 1.2;
}
@media(max-width:569px){
    .chief .container{
        padding: 0 ;
        display: block;
    }
    .chief .container img,
    .chief .chief-txt{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .chief .chief-txt h4{
        margin-top: 10px;
    }
    .chief .chief-txt p{
        display: none;
    }
}

/* chief end */

/* feedback start */
.feedback{
    color: var(--brown);
    background-color: var(--milk-white);
}
.feedback h4{
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}
.feedback-cards{
    display: flex;
    justify-content: space-around;
}
.feedback-cards .feedback-card{
    width: 31%;
    margin: 0 10px;
}
.feedback-cards .client{
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 10px;
}
.feedback-cards .client img{
    border-radius: 50%;
    margin-right: 10px;
}
.feedback-cards .client h5{
    font-size: 18px;
}
.feedback-cards .comment{
    margin-left: 25%;
    line-height: 1.5;   
}
.feedback-cards .comment p{
    margin-bottom: 10px;
}
.feedback-cards .comment span{
    display: block;
    text-align: right;
}
@media(max-width:767px){
    .feedback-cards{
        display: block;
    }
    .feedback-cards .feedback-card{
        width: 98%;
    }
    .feedback .container{
        padding: 20px;
    }
}
/* feedback end */

/* submit  start*/
.submit{
   background-color: var(--gray);
   color: var(--brown);
}
.submit h4{
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 35px;
}
.submit .form{
    display: flex;
}
.submit .form form,
.submit .form iframe{
    width: 48%;
    margin: 0 2%;
}
.submit form h5{
   margin-bottom: 5px;
}
.submit .form input[type="text"],
.submit .form input[type="tel"],
.submit .form input[type="email"],
.submit .form input[type="number"]{
    display: block;
    width: 100%;
    margin: 6px 0 20px 0;
    padding: 0.5em;
    border-radius: 5px;
    border: 2px solid var(--milk-white);
}
.submit .form input[type="radio"],
.submit .form input[type="button"],
.submit .form input[type="submit"]{
    display: inline-block;
    width: auto;
    margin-right: 5px;
}
.submit .form input[type="radio"]:last-child{
    margin-left: 20px;
}
.submit-btn{
    display: flex;
    justify-content: flex-end;
}
@media(max-width:767px){
    .submit .form{
        display: block;
    }
    .submit .form form,
    .submit .form iframe{
        width: 98%;
        margin: 0 2%;
        margin-bottom: 15px;
    }
    .submit-btn{
        margin-top: 10px;
    }
}
/* submit  end*/

/* footer start */
.footer{
    background-color:var(--milk-white);
    color: var(--brown);
}
.footer .container{
    display: flex;
    justify-content: space-between;
}
.footer .footer-txt{
    width: 60%;
    display: flex;  
}
.footer .footer-about,
.footer .footer-contact{
    width: 50%;
    margin-right: 20px;
}
.footer .footer-about h3,
.footer .footer-contact h3{
    font-size: 24px;
    margin-bottom: 16px;
}
.footer .footer-contact li{
    line-height: 1.2;
    list-style: disc;
    text-indent: 1em;
}
.footer-title h2{
   font-size: 48px;
   font-weight: bolder;
   margin-bottom: 16px;
}
.footer-title .logo{
    text-align: right;
}
.footer-title img{
    width: 36px;
    height: 36px;
    margin: 0 5px;
}
@media(max-width:767px){
    .footer .footer-txt{
        display: none;
    }
    .footer-title h2{
        font-size: 36px;
    }
    .footer .footer-title{
        margin: 0 auto;
    }
    .footer-title .logo{
        text-align: center;
    }
}
/* footer end */

/***********menu.html***************/
.menu-area{
    background-color: var(--milk-white);
    color: var(--brown);
    font-weight: 600;
}
.menu-area .container{
    display: flex;
}
.menu-area .menu-list{
    width: 20%;
    margin-right: 5%;
}
.menu-area .menu-list i{
    font-size: 30px;
    margin-right: 5px;
}
.menu-area .menu-list h5{
    font-size: 20px;
    margin-bottom: 15px;
}
.menu-area .list-items li,
.menu-area .menu-list span{
    padding-left: 1em;
    line-height: 32px;
    border-bottom: 1px solid var(--brown);
    cursor: pointer;
}
.menu-area .menu-list span{
    display: block;
}
.menu-area .list-items li:hover,
.menu-area .menu-list span:hover{
    background-color: var(--brown);
    color: var(--milk-white);
}

/* menu-cards */

.menu-area .menu-cards{
    width: 75%;
}
.menu-area .srarch-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}
.menu-area .search{
    display: flex;
    width: 65%;
}
.menu-area .search input{
    width: 100%;
    padding: 0.5em;
    background-color: var(--milk-white);
}
.menu-area .search i{
    color: var(--milk-white);
    background-color: var(--brown);
    padding: 0.5em;
    cursor: pointer;
}
.menu-area .shopping-cart{
    position: relative;
}
.menu-area .shopping-cart a:first-child{
    color: var(--brown);
    padding-right: 8px;
    border-right: 1px solid var(--brown);
}
.menu-area .shopping-cart a:first-child:hover{
    color:var(--orange);
}
.menu-area .shopping-cart i{
    font-size: 32px;
    color: var(--brown);
    padding-left: 8px;
}

.menu-area  .ShopCartNumber{
    display: block;
    position: absolute;
    right:-15px;
    top:-15px;
    width: 20px;
    height: 20px;
    background-color: var(--orange);
    color: var(--milk-white);
    font-size: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}
.menu-cards .cards{
    display: flex;
    flex-wrap: wrap;
}
.menu-cards .card{
    width: 30%;
    box-shadow: 1px 1px 10px var(--brown) ;
    position: relative;
    margin-bottom: 30px;
    margin-right: 3%;
}
.menu-cards .card .heart{
    color:var(--milk-white);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 5%;
    left: 5%;
    cursor: pointer;
}
.menu-cards .card .txt{
    text-align: center;
    padding: 10px;
}
.menu-cards .txt h4{
    font-size: 20px;
    line-height: 27px;
}
.menu-cards .txt h5{
    font-size: 12px;
    line-height: 16px;
    position: relative;
    margin-bottom: 40px;
}
.menu-cards .txt h5::after{
    content: '';
    width: 50%;
    height: 1px;
    background-color: var(--brown);
    position: absolute;
    top: 24px;
    left: 25%;
}
.menu-cards .txt span{
    font-size: 20px;
    font-style: italic;
}
.menu-cards .txt a{
    display: block;
    text-align: center;
    padding: 0.5em;
    border: 1px solid var(--orange);
    color: var(--orange);
    margin-top: 16px;
    transition: all .3s;
}
.menu-cards .txt a:hover{
    background-color: var(--orange);
    color: var(--milk-white);
}
.menu-cards .txt i{
    margin-right: 0.5em;
}
/* ipad 版型 */
@media(max-width: 768px){
    .menu-cards .card{
        width: 48%;
        margin-right: 2%;
    }
}
/* 手機 版型 */
@media(max-width:767px){
    .menu-area .container{
        display: block;
    }
    .menu-area .menu-list{
        width: 98%;
        margin: 0 0 30px 0;
    }
    .menu-area .menu-cards{
        width: 98%;
    }
    .menu-area .srarch-bar{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .menu-area .search{
        width: 100%;
        margin-bottom: 12px;
    }
    .menu-area .shopping-cart{
        align-self: flex-end;
    }
    .menu-cards .card{
        width: 98%;
    }
}
/* 767px 以下 395px 以上  菜單圖片置中 */
@media(max-width:767px) and (min-width:395px){
    .menu-cards .card .img{
       text-align: center;
       padding: 15px 0 20px 0;
    }
}

/***********register.html***************/
.register{
    background-color: var(--milk-white);
    color: var(--brown);
    text-align: center;
    font-weight: 600;
}
.register h2{
    font-size: 48px;
    margin-bottom: 5px;
}
.register h4{
    font-size: 20px;
    margin-bottom: 35px;
}
.register-box{
    width: 60%;
    padding: 15px;
    border-top: 4px solid var(--orange);
    margin: 0 auto; 
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
}
.register-box h5{
    font-size: 18px;
    margin-bottom: 16px;
}
.register-input{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.register-input .rule{
    width: 48%;
    font-size: 18px;
    line-height: 1.2;
}
.register-input .inputs{
    width: 48%;
}
.register-input .inputs label{
    line-height: 1.5;
}
.register-input .inputs input{
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 0.5em;
    border: 1px solid #ccc;
}
.register-input .inputs input:first-of-type{
    margin-bottom: 15px;
}
.register-input .inputs input:nth-of-type(2){
   margin-bottom: 12px;
}
.register-input .inputs a{
    font-size: 14px;
    display: block;
    margin-top: 5px;
    color: var(--orange);
}
.register-input .inputs input[type="submit"]{
    width: 43%;
    margin-top: 30px;
    margin-left: auto;
}
/* 手機版樣式 */
@media(max-width:767px){
    .register h2{
        font-size: 36px;
    }
    .register-box{
        width: 100%;
    }
    .register-input{
        flex-direction: column;
        flex-wrap: wrap; 
    }
    .register-input .rule{
        width: 98%;
        order:2;
    }
    .register-input .inputs{
        width: 98%;
        margin-bottom: 30px;
    }
    .register-input .inputs input[type="submit"]{
        width: 100%;
    }
}
/***********order.html***************/
.news{
    background-color: var(--milk-white)
    color: var(--brown);
}
.news h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 35px;
}
.news .news-cards{
    display: flex;
    flex-wrap: wrap;
}
.news .news-cards .card{
    width: 28%;
    margin: 0 2.5%;
    margin-bottom: 30px; 
}
.news .news-cards .img{
    overflow: hidden;
    height: 190px;
}
.news .news-cards img{
    transition: all .3s linear;
}
.news .news-cards img:hover{
    transform: scale(1.1);
}
.news .txt a{
   display: block;
   color: var(--brown);
   font-size: 20px;
   margin: 10px 0;
}
.news .txt p{
    line-height: 1.3;
}
/* ipad 兩欄式 */
@media(max-width:768px){
    .news .news-cards .card{
        width: 45%;
        margin: 0 2.5%;
        margin-bottom: 30px; 
    }
}
@media(max-width:767px){
   .news .news-cards .img{
       height: auto;
   }
}
@media(max-width:569px){
    .news .news-cards .card{
        width: 96%;
        margin: 0 2%;
        margin-bottom: 30px;
    }
}


